/* Tailwind CSS file */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.amiri-regular {
  font-family: "Amiri", serif;
  font-weight: 400;
  font-style: normal;
}

.amiri-bold {
  font-family: "Amiri", serif;
  font-weight: 700;
  font-style: normal;
}

.amiri-italic {
  font-family: "Amiri", serif;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Iran Sans';
  src: url('/fonts/FontsFree-Net-ir_sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.body {
  font-family: 'Iran Sans', sans-serif;
}
.amiri-bold-italic {
  font-family: "Amiri", serif;
  font-weight: 700;
  font-style: italic;
}

/* Custom scroll bar styles */
::-webkit-scrollbar {
  width: 10px;
  background-color: white;
  visibility: hidden; /* Hide the scrollbar by default */
}

/* Show the scrollbar when the class is added */
.scrollbar-visible ::-webkit-scrollbar {
  visibility: visible;
}
.fixedZ {
  z-index: -1;
}
/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Define your custom classes */

.light {
  @apply bg-white text-black;
  z-index: -10;
}

.dark {
  @apply bg-gray-800 text-white;
}
